.teaser {
color: red;
  /* Variations */
  &.left {
    .teaser-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }
  &.right {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &.quiet {
    --spacing-default: 0;

    box-shadow: initial;
    background-color: initial;

    .teaser-content-container * {
      margin: 6px;
    }
  }
}
