.teaser {
color: red;
  .teaser-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &:not(.quiet) {
    .teaser-picture-container {
      position: relative;
      padding-bottom: 60%;

      picture {
        position: absolute;
        inset: 0;
        opacity: 0.85;
        transition: opacity 0.25s ease-in-out;
      }

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .teaser-content-container {
    padding: var(--spacing-default);

    :first-child {
      margin-top: 0;
      font-size: 16px;
    }

    :last-child {
      margin-bottom: 0;
    }

    &:has(+ .teaser-cta-container) {
      padding: var(--spacing-default) var(--spacing-default) var(--spacing-m) var(--spacing-default);
    }
  }

  .teaser-cta-container {
    padding: 0 var(--spacing-default) var(--spacing-default) var(--spacing-default);
    margin: 0;
    display: flex;
    justify-content: end;
  }

  &:not(.quiet):hover {
    transform: scale(1.005);
    box-shadow: 0 2px 8px 0 rgba(0 0 0 / 16%);

    picture {
      opacity: 1;
    }
  }

  /* Variations */
  &.center {
    text-align: center;
  }

  &.quiet {
    --spacing-default: 0;

    box-shadow: initial;
    background-color: initial;

    .teaser-content-container * {
      margin: 6px;
    }
  }
}
