  body {
      font-family: 'Adobe Clean';
    }

    body.jp #results, body.jp #selected {
      font-family: Adobe Clean Han Japanese, sans-serif;
    }

    body.ko #results, body.ko #selected {
      font-family: Adobe Clean Han K, sans-serif;
    }

    main .intro {
      font-size: 1rem;
    }

    main select {
      font-size: 1rem;
      font-family: 'Adobe Clean';
      border: none;
      border-bottom: solid 1px grey;
      padding-top: 5px;
    }
    
    main input {
      width: 100%;
      font-size: 2rem;
      font-family: 'Adobe Clean';
      border: none;
      border-bottom: solid 1px grey;
      padding-top: 5px;
    }

    main .filter {
      padding: 20px 10px 20px 10px;
    }

    main #selected {
      padding: 30px;
    }

    main #selected button {
      border-radius: 1em;
      padding: 5px 20px;
    }


    #results {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 150px;
    }

    #results > .category {
      user-select: none;
      
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }

    main > div > span,
    main > div > div > span {
      white-space: nowrap;
      margin: 6px 4px;
    }

    main {
      padding: 20px;
      font-size: 1.3rem;
      line-height: 1.2em;
    }

    span.tag {
      color: lightgrey;
      padding: 2px 20px;
      border-radius: 10px;
      font-size: 16px;
    }

    .tag {
      cursor: pointer;
      padding-top: 5px;
    }

    .selected span.tag, 
    .selected span.tag.nuft {
      background-color: #888888;
      color: lightgrey;
    }

    .tag.cat-0 {
      background-color: #0d66d0;
    }

    .tag.cat-0.nuft {
      background-color: #86b2e7;
    }

    .tag.cat-1 {
      background-color: #d7373f;
    }

    .tag.cat-1.nuft {
      background-color: #eb9b9f;
    }

    .tag.cat-2 {
      background-color: #12805c;
    }

    .tag.cat-2.nuft {
      background-color: #88bfad;
    }

    .tag.cat-3 {
      background-color: #d2b200;
    }

    .tag.cat-3.nuft {
      background-color: #e8d87f;
    }

    span.tag.nuft {
      color: lightslategrey
    }

    span.tag .highlight {
      font-weight: 700;
      color: white;
    }

    span.path {
      border-radius: 10px;
      border: 1px dashed black;
      padding: 4px 10px 2px 10px;
      font-size: 12px;
    }

    span.psep {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Adobe Clean';
    }

    #selected {
      position: fixed;
      bottom: 0;
      background-color: lightsalmon;
      padding-bottom: 20px;
      width: 100%;
      box-sizing: border-box;
      left: 0;
      user-select: none;
    }

    #selected button:disabled {
      background-color: #ccc;
      color: grey;
    }

    #selected button {
      background-color: #F25749;
      color: white;
      position: absolute;
      right: 10px;
      bottom: 10px;
      border: 1px solid white;
      font-size: 13px;
    }

    .hidden {
      display: none;
    }

    .offscreen {
      position: absolute;
      top: -1000px;
    }

    /* link checker styles */
    .lcIcon {
      float: right;
      padding: 2px;
      color: rgb(14, 173, 105);
    }

    .gg-spinner,
    .gg-spinner::after,
    .gg-spinner::before {
        box-sizing: border-box;
        position: relative;
        display: block;
        width: 20px;
        height: 20px
    }
    .gg-spinner::after,
    .gg-spinner::before {
        content: "";
        position: absolute;
        border-radius: 100px
    }
    .gg-spinner::before {
        animation: spinner 1s
        cubic-bezier(.6,0,.4,1) infinite;
        border: 3px solid transparent;
        border-top-color: currentColor
    }
    .gg-spinner::after {
        border: 3px solid;
        opacity: .2
    }
    @keyframes spinner {
        0% { transform: rotate(0deg) }
        to { transform: rotate(359deg) }
    }

    .gg-check-o {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 22px;
      height: 22px;
      border: 2px solid;
      border-radius: 100px
    }
    .gg-check-o::after {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        left: 3px;
        top: -1px;
        width: 6px;
        height: 10px;
        border-color: currentColor;
        border-width: 0 2px 2px 0;
        border-style: solid;
        transform-origin: bottom left;
        transform: rotate(45deg)
    }

    .gg-danger {
      box-sizing: border-box;
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      border: 2px solid;
      border-radius: 40px
    }
    .gg-danger::after,
    .gg-danger::before {
        content: "";
        display: block;
        box-sizing: border-box;
        position: absolute;
        border-radius: 3px;
        width: 2px;
        background: currentColor;
        left: 7px
    }
    .gg-danger::after {
        top: 2px;
        height: 8px
    }
    .gg-danger::before {
        height: 2px;
        bottom: 2px
    }

    .gg-danger.error {
      color: rgb(95, 25, 221);
    }

    .gg-danger.fix {
      color: rgb(224, 26, 79);
    }

    .gg-danger.ok {
      color: rgb(60, 72, 82);
    }

    #lcResults {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }