.button a {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 100%;
  padding: 16px 32px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: var(--border-radius-xl);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  outline-offset: 4px;
  outline: 2px solid transparent;
  border: 2px solid black;
}

/* Primary Button Styles */

.button.primary a{
  background-color: blue;
  color: white;
}