.button a {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  max-width: 100%;
  padding: 16px 32px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.32px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-radius: var(--border-radius-xl);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  outline-offset: 4px;
  outline: 2px solid transparent;
  border: 2px solid transparent;
}

/* Primary Button Styles */

.button .primary a,
.button button.primary,
.button .primary a-variant,
.button button.primary-variant {
  background-color: blue;
  color: white;
}

.button .primary a:hover,
.button button.primary:hover,
.button .primary a-variant:hover,
.button button.primary-variant:hover {
  background-color: var(--primary-cta-hover);
  text-decoration: none;
}

.button .primary a.disabled,
.button button.primary:disabled,
.button .primary a-variant.disabled,
.button button.primary-variant:disabled {
  background-color: var(--deativated);
}

.button .primary a:focus,
.button button.primary:focus,
.button .primary a-variant:focus,
.button button.primary-variant:focus {
  background-color: var(--primary-cta);
  outline: 2px solid var(--primary-cta);
  border: 2px solid var(--primary-cta);
}

.button a.button:focus{
  outline: 2px solid var(--neutral-black);
  border: 2px solid var(--text-white);
}

.button .primary a.iblack,
.button button.primary.iblack,
.button .primary a-variant.iblack,
.button button.primary-variant.iblack {
  background-color: var(--color-white);
  color: var(--primary-cta);
}

.button .primary a.iblack:hover,
.button button.primary.iblack:hover,
.button .primary a-variant.iblack:hover,
.button button.primary-variant.iblack:hover {
  background-color: var(--gray-bg);
}

.button .primary a.iblack.disabled,
.button button.primary.iblack:disabled,
.button .primary a-variant.iblack.disabled,
.button button.primary-variant.iblack:disabled {
  background-color: var(--gray-bg);
}

.button .primary a.iblack:focus,
.button button.primary.iblack:focus,
.button .primary a-variant.iblack:focus,
.button button.primary-variant.iblack:focus {
  background-color: var(--color-white);
  outline: 2px solid var(--color-white);
  border: 2px solid var(--color-white);
}

/* Secondary Button Styles */
.button a.button.secondary,
.button button.secondary,
.button a.button.secondary-variant,
.button button.secondary-variant {
  background-color: var(--color-white);
  border: 2px solid var(--secondary-cta);
  color: var(--secondary-cta);
}

.button a.button.secondary:hover,
.button button.secondary:hover,
.button a.button.secondary-variant:hover,
.button button.secondary-variant:hover {
  background-color: color-mix(in srgb, white 95%, var(--secondary-cta) 5%);
  border: 2px solid var(--secondary-cta-hover);
  text-decoration: none;
}

.button a.button.secondary.disabled,
.button button.secondary:disabled,
.button a.button.secondary-variant.disabled,
.button button.secondary-variant:disabled {
  border: 2px solid var(--deactivated-secondary);
}

.button a.button.secondary:focus,
.button button.secondary:focus,
.button a.button.secondary-variant:focus,
.button button.secondary-variant:focus {
  outline: 2px solid var(--secondary-cta);
  border: 2px solid var(--secondary-cta);
}

.button a.button.secondary.iblack,
.button button.secondary.iblack,
.button a.button.secondary-variant.iblack,
.button button.secondary-variant.iblack {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  background: none;
}

.button a.button.secondary.iblack:hover,
.button button.secondary.iblack:hover,
.button a.button.secondary-variant.iblack:hover,
.button button.secondary-variant.iblack:hover {
  border: 2px solid var(--gray-bg);
}

.button a.button.secondary.iblack.disabled,
.button button.secondary.iblack:disabled,
.button a.button.secondary-variant.iblack.disabled,
.button button.secondary-variant.iblack:disabled {
  border: 2px solid var(--gray-bg);
}

.button a.button.secondary.iblack:focus,
.button button.secondary.iblack:focus,
.button a.button.secondary-variant.iblack:focus,
.button button.secondary-variant.iblack:focus {
  outline: 2px solid var(--color-white);
  border: 2px solid var(--color-white);
}

/* Text Button */
.button a.button.text-btn,
.button button.text-btn {
  background-color: unset;
  color: var(--link-color);
  font-weight: var(--font-weight-regular);
  text-decoration: underline;
  padding: 0;
  border-radius: unset;
  border: 0;
}

.button a.button.text-btn:hover,
.button button.text-btn:hover {
  color: var(--link-hover-color);
}

.button a.button.text-btn:hover svg path,
.button button.text-btn:hover svg path {
  fill: var(--link-color-hover);
}

.button a.button.text-btn.disabled,
.button button.text-btn:disabled {
  color: var(--link-hover-color);
}

.button a.button.text-btn:focus,
.button button.text-btn:focus {
  outline: 2px solid var(--link-color);
  border-radius: var(--border-radius-m);
}

.button a.button.text-btn.iblack,
.button button.text-btn.iblack {
  background-color: unset;
  color: var(--color-white);
}

.button a.button.text-btn.iblack:hover,
.button button.text-btn.iblack:hover {
  color: var(--color-white);
}

.button a.button.text-btn.iblack.disabled,
.button button.text-btn.iblack:disabled {
  color: var(--link-hover-color);
}

.button a.button.text-btn.iblack:focus,
.button button.text-btn.iblack:focus {
  outline: 2px solid var(--color-white);
}

.button.block.small .button a.button,
.button.block.small .button button,
.button.block.small .button .primary a-variant,
.button.block.small .button button.primary-variant,
.button.block.small .button a.button.secondary-variant,
.button.block.small .button button.secondary-variant {
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.28px;
}

.button.block.small .button a.button svg,
.button.block.small .button button svg {
  height: var(--icon-size-xs);
  width: var(--icon-size-xs);
}

@media (max-width: 991px) {
  .button a.button:any-link,
  .button button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.28px;
  }

  .button .primary a-variant,
  .button button.primary-variant,
  .button a.button.secondary-variant,
  .button button.secondary-variant {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.28px;
    padding: 12px 24px;
  }

  .button.block .button a.button svg,
  .button.block .button button svg {
    height: var(--icon-size-xs);
    width: var(--icon-size-xs);
  }

  .button a.button.text-btn,
  .button button.text-btn {
    padding: 0;
  }
}

.button.block .button a.button.secondary-variant:hover svg path{
  fill: var(--secondary-cta-hover);
}